@import 'tailwindcss';

@theme {
  --container-xs: 345px;
  --container-sm: 480px;
  --container-md: 599px;
  --container-lg: 767px;
  --container-xl: 920px;
  --container-2xl: 1023px;
  --container-3xl: 1199px;
  --container-4xl: 1365px;
  --container-5xl: 1430px;
  --container-6xl: 1640px;
  --container-7xl: 1705px;

  /* Кастомные breakpoints (точки останова) */
  /* Используются в классах: xs:text-lg, sm:flex, md:hidden и т.д. */
  --breakpoint-xs: 345px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 599px;
  --breakpoint-lg: 767px;
  --breakpoint-xl: 920px;
  --breakpoint-2xl: 1023px;
  --breakpoint-3xl: 1199px;
  --breakpoint-4xl: 1365px;
  --breakpoint-5xl: 1430px;
  --breakpoint-6xl: 1640px;
  --breakpoint-7xl: 1705px;

  /* Tailwind классы (например, bg-green-1, text-green-1) */
  --color-green-1: #01a24d;
  --color-green-2: #00bf5a;
  --color-green-3: #007437;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-1: #f1f1f5;
  --color-grey-2: #bbb;
  --color-yellow: #ffd96a;
  --color-pink: #f9aae8;
  --color-red-1: #f33;
  --color-red-2: #cf0101;
  --color-color: #898989;
  --color-grassy: #0c432f;
  --color-bedge: #faf7f2;
  --color-secondary-blck: #484848;

  /* Алиасы для использования в var() в CSS файлах */
  --green-1: var(--color-green-1);
  --green-2: var(--color-green-2);
  --green-3: var(--color-green-3);
  --white: var(--color-white);
  --black: var(--color-black);
  --grey-1: var(--color-grey-1);
  --grey-2: var(--color-grey-2);
  --secondary-blck: #484848;
  --yellow: var(--color-yellow);
  --pink: var(--color-pink);
  --red-1: var(--color-red-1);
  --red-2: var(--color-red-2);
  --color: var(--color-color);
  --grassy: var(--color-grassy);
  --bedge: var(--color-bedge);
  --font-family: 'Inter', sans-serif;
  --second-family: 'Inter Tight', sans-serif;
}
