/* Responsive styles for 3xl (max-width: 1199px) */
@media screen and (max-width: 1199px) {
  .menu-top > li {
    margin-right: 28px;
  }
  .pl-item__title {
    font-size: 15px;
  }
  .block-top,
  .about {
    padding-bottom: 40px;
  }
  .insurance,
  .selection,
  .news,
  .faq .wrap {
    padding-bottom: 40px;
  }
  .insurance__item {
    padding: 40px;
  }
  .insurance__item h3 {
    font-size: 40px;
  }
  .group-btn,
  .about__top {
    margin-bottom: 40px;
  }
  .insurance__item > img {
    right: 0;
    max-width: 50vw;
  }
  .insurance__item h3,
  .h2-style h2,
  .title-url {
    font-size: 35px;
  }
  .about-img {
    display: none;
    opacity: 0;
  }
  .about-list-name {
    font-size: 31px;
  }
  .about-list__item {
    padding: 30px 0;
  }
  .cases__item span {
    font-size: 20px;
  }
  .news__item-more {
    font-size: 18px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__left,
  .footer__right {
    padding: 30px 20px;
  }
  .foot-top__item2 {
    padding-left: 40px;
  }
  .footer-menu {
    gap: 35px;
    row-gap: 15px;
  }
  .foot-title {
    font-size: 31px;
  }
  .email-foot {
    margin-left: 35px;
  }
  .mob-menu {
    display: block;
  }
  .hamburger-button span {
    display: block;
    width: 16px;
    height: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    background: #fff;
    transition: all 0.3s ease;
    transform-origin: center;
  }
  .hamburger-button span:last-child {
    margin-bottom: 0;
  }
  /* Анимация превращения в крестик */
  .hamburger-button.active span:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
  }
  .hamburger-button.active span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
  }
  .hamburger-button.active span:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }
  .search-block {
    margin-left: 0;
    margin-bottom: 11px;
  }
  .block-rezult__top {
    display: block;
    margin-bottom: 30px;
  }
  .block-rezult__top div {
    margin-left: 0;
    max-width: 100%;
    text-align: center;
  }
  .block-rezult__top h3 {
    margin-bottom: 15px;
  }
  .block-rezult__item {
    padding: 16px;
  }
  .block-rezult__item .btn-style-new {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
    height: 48px;
  }
  .block-rezult__top div span:before {
    display: none;
  }
  .rating-wrp i {
    margin-right: 0;
  }
  .block-rezult__grid {
    gap: 10px;
  }
}
