/* Responsive styles for xl (max-width: 920px) */
@media screen and (max-width: 920px) {
  .prepend-title {
    margin-bottom: 35px;
    text-align: center;
  }
  .prepend-title h2 span:before {
    display: none;
  }
  .prepend-title h2 {
    color: var(--black);
    max-width: auto;
    line-height: 1.15;
    margin-bottom: 10px;
  }
  .prepend-title .sub-zag {
    color: var(--green-2);
  }
  .modal-window2 {
    padding: 32px 10px;
    margin-right: 10px;
  }
  .modal-window2 .modal-bg {
    background: #fff !important;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-tn__close {
    border-radius: 100%;
    width: 44px;
    height: 44px;
    box-shadow: 0px 4px 4px 0px #00000026;
    color: #2f1e1e;
    position: absolute;
    right: -5px;
    top: -18px;
    text-decoration: none;
    text-align: center;
    opacity: 1;
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    font-family: Arial, Baskerville, monospace;
    cursor: pointer;
    background: white;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    z-index: 99;
    touch-action: manipulation;
  }
  .modal-tn__wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .modal-tn__wrp {
    max-width: 1000px;
    visibility: hidden;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transition: 0.3s ease 0s;
    border-radius: 24px;
    width: 100%;
    opacity: 0;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    background: #fff;
  }
  .modal-tn__wrp .kviz-wrp {
    row-gap: 20px;
  }
  .news__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .insurance__item h3,
  .h2-style h2,
  .selection h3,
  .faq-click,
  .foot-title {
    font-size: 28px;
  }
  .title-url {
    font-size: 26px;
  }
  .img-new-wrp img {
    width: 100%;
    max-width: none;
  }
  .control-img {
    max-width: 450px;
    width: 100%;
  }
  .txt-int {
    font-size: 35px;
  }
  .about-list__desc {
    width: 60%;
    margin-left: 0;
    padding-left: 11px;
    box-sizing: border-box;
  }
  .about-list-name {
    width: 40%;
    font-size: 27px;
  }
  .cases__item {
    min-height: 275px;
  }
  .insurance__item {
    padding: 30px;
    min-height: 410px;
  }
  .insurance__item-wrp {
    position: relative;
    z-index: 2;
  }
  .insurance__item:first-child {
    min-height: auto;
  }
  .insurance__item:first-child .insurance__item-wrp {
    max-width: 50%;
  }
  .insurance__item:nth-child(2) {
    background-position: 40% top;
  }
  .foot-top__item1 {
    width: 100%;
    max-width: 100%;
  }
  .foot-top__item2 {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
  }
  .modal-top h3 br {
    display: none;
  }
  .label {
    font-size: 16px;
  }
  .block-large h2 {
    font-size: 36px;
  }
  .block-large .form-wrap {
    display: block;
  }
  .block-large .checkbox-wrp {
    position: static;
  }
  .block-large__forma {
    padding: 59px 30px;
  }
  .block-large__forma .input-wrp {
    width: 100%;
    margin-bottom: 16px;
  }
  .block-large__forma .input-wrp:last-child {
    margin-bottom: 0;
  }
  .block-large__forma .wpcf7-response-output {
    bottom: 0;
  }
  .block-large h2 br,
  .block-large > span br {
    display: none;
  }
}
