<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
  failOnWarning="false"
  failOnRisky="false"
>
  <testsuites>
    <testsuite name="dmc-theme">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>

